@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');

@media screen and (max-width: 1190px) {
    .cont-menu .nav-menu {
        justify-content: space-between;
    }
    .cont-menu .find-menu {
        min-width: 60px;
        width: 100%;
    }
} 
@media screen and (max-width: 1023px) {
    .header .cont-header {
        padding: 50px 0;
    }
    .header .cont-header h1 {
        display: block;
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }
    .cont-header .header-menu li {
        padding-left: 0;
        width: 100%;
        margin: 0 20px;
        height: 40px;
    }

    /* 그리드 반응형의 문제: 처음부터 반응형을 고려해서 틀을짜야 한다. */

    /* .mdn-blog {
        grid-row: 2/3;
        grid-column: 1/6;
    }
    .cont-art {
        grid-row: 3/4;
        grid-column: 1/6;
    } */
}

@media screen and (max-width: 800px) {
    .cont-menu .mdn-logo {
        min-width: 170px;
        height: 50px;
    }
    .cont-menu .nav-menu li{
        max-height: 0px;
        overflow: hidden;
    }
    .cont-menu .find-menu {
        display: none;
    }
    .header .cont-menu .btn-open {
        display: block;
        position: relative;
        top: 20px;
        left: 200px;
        cursor: pointer;
    }
    .header .cont-menu .btn-open:focus + .nav-menu li{
        overflow: visible;
        max-height: 1000px;

    }
}

body {
    display: grid;
    font-family: arial, x-locale-body, sans-serif;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3,auto)
}

/* navigation */

.header {
    grid-row: 1/2;
    grid-column: 1/6;
}
.cont-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}
.cont-menu .checkbox {
    display: none;
}
.cont-menu .mdn-logo {
    background: url(./img/MDN_Web_Docs.svg) center no-repeat ;
    width: 200px;
    height: 60px;
    vertical-align: top;
    margin-top: 15px;
}
.cont-menu .nav-menu {
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
}

/*질문 justify-content: space-between; 이 안먹음?  */

.cont-menu .nav-menu a {
    display: flex;
    margin: 0 50px;
    vertical-align: top;
    margin-top: 30px;
    color: #1b1b1b;
    font-weight: bold;
}
.cont-menu .nav-menu a::before {
    content: '';
    background: url(./img/triangle.svg) no-repeat;
    width: 18px;
    transform: rotate(90deg);
}


.find-menu {
    position: relative;
    width: 350px;
    height: 40px;
    border: 2px solid #000;
    vertical-align: top;
    margin-top: 20px
}

.find-menu .txt-search {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    vertical-align: top;
    margin-top: 10px;
}
/*  요기 질문 width:100%을 키면 글씨가 다 나오고, 그림이 짤리고, 반대는 글씨가 짤림 */

.find-menu .btn-search {
    position: absolute;
    right: 3px;
    top: 7px;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.cont-menu .btn-open {
    display:none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}



/* header */

.cont-header {
    background-color: #83bfff;
    padding: 75px 48px 72px;
    text-align: center;
}
.cont-header h1 {
    display: inline-block;
    padding: 2px 20px;
    background-color: #1b1b1b;
    color: #fff;
    text-align: center;
    font-size: 39px;
    line-height: 47px;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}
.cont-header .header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.cont-header .header-menu li {
    display: flex;
    padding-right: 100px;
    margin-right: 70px;
    line-height: 30px;
    border-bottom: 2px solid #1b1b1b;
    color: #1b1b1b;
    position: relative;
}
.cont-header .header-menu li::after {
    display: block;
    content: '\f061';
    font-family: "Font Awesome 5 Free";;
    font-weight: 600;
    position: absolute;
    right: 0;
}
.cont-header .header-menu a {
    color: #1b1b1b;
}

/* SECTION */

.mdn-blog {
    grid-row: 2/3;
    grid-column: 1/4;
    margin: 75px 30px 0 20px;
}
.mdn-blog .tit-blog {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    font-size: 39px;
    line-height: 47px;
}
.mdn-blog .readmore {
    display: inline-block;
    margin-top: 5px;
    color: #005282;
}
.mdn-blog .txt-blog li {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 12px;
}
.mdn-blog .txt-blog h3{
    font-family: 'Zilla Slab', serif;
    font-size: 31px;
    line-height: 37px;
    color: #005282;
    margin-bottom: 10px;
}
.mdn-blog .txt-blog p{
    font-size: 16px;
    line-height: 1.5;
}
.mdn-blog .txt-blog .posted {
    font-style: italic;
    font-size: 14px;
    color: #1b1b1b;
}

/* ARTICLE */
.cont-art {
    grid-row: 2/3;
    grid-column: 4/6;
    margin: 75px 30px 87px 20px;
}
.cont-art .tit-art {
    margin-bottom: 24px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #1b1b1b;
}
.cont-art p, .cont-art .art-menu {
    line-height: 1.5;
    font-family: arial, x-locale-body, sans-serif;
    font-weight: 400;
}
.cont-art .art-menu a {
    display: inline-block;
    color: #005282;
    border-bottom: 1px solid #f4f4f4;;
    margin-bottom: 12px;
}

/* FOOTER */
footer {
    grid-column: 1/6;
    grid-row: 3/4;
    display: grid;
    background-color: #1b1b1b;
    padding: 50px 0 70px 20px;
}
.footer-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3,auto);
}
.footer-section .cont-left{
    grid-column: 1/2;
    grid-row: 1/2;
}
.footer-section .cont-left a{
    color: white;
    line-height: 3;
}
.footer-section .cont-left a>img {
    width:200px;
}
.footer-section .mdn-sns {
    padding: 20px 20px 20px 0;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    color: #fff;
}
.footer-section .mdn-sns img {
    width: 25px;
    height: 25px;
    padding-left: 20px;
}
.footer-section .cont-right {
    padding-top: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.footer-section .cont-right a{
    line-height: 3;
    color: white;
}
.footer-section .mozila-sns {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    color: #fff;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}
.footer-section .mozila-sns img {
    width: 25px;
    height: 25px;
    padding-left: 20px;
}

/* footer: term */

.term {
    margin-top: 50px;
    padding-top: 30px;
    border-top:1px solid #fff ;
    color: #fff;
    background-color: #1b1b1b;
}
.term .footer-term {
    display: flex;
    padding-top: 30px;
}
.term .footer-term a {
    color: white;
    margin-right: 20px;
}