* {
  font-family: 'Ubuntu', sans-serif;
}

/* navigation */

.navigation {
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
}
.navigation .img-adobe  {
  width: 25px;
  padding: 10px;
}
.navigation .txt-adobe {
  color: red;
  font-weight: 700;
  font-size: 18px;
  margin-right: 40px;
}
.navigation .list-nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}
.navigation .list-nav-menu .nav-menu {
  display: flex;
}
.navigation .list-nav-menu .nav-menu::after {
  display: flex;
  width: 6px;
  height: 6px;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #2c2c2c;
  transform-origin: 75% 75%;
  transform: rotate(45deg);
  transition: transform .1s ease;
  content: "";
  margin-left: 5px;
  margin-right: 2.25px;
  margin-top: 2px;
}
.navigation .btn-search {
  position: absolute;
  right: 60px;
  background: url(../img/search.svg);
  width: 20px;
  height: 20px;
}
.navigation .btn-sign {
  position: absolute;
  right: 10px;
  font-size: 14px;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/main_xl.png) no-repeat;
  background-size: cover;
  background-position: right 35% bottom 45%;
  min-width: 100%;
  width: auto;
  min-height: 500px;
  padding:0 0 60px 30px;
  color: #fff;
}
.header .tit-header {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
